{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'foodapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'foodapp/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'foodapp/css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'foodapp/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/css/Social-Icons.css' %}">
    </head>

<body style="background-color:rgb(248,243,243);">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background-color:rgb(161,248,232);">
        <div class="container"><a class="navbar-brand logo" href="/">FoodFinder</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="/weekly-recommendation">Weekly Recommendation</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro" style="width:992;height:35px;padding:0px;"></section>
        <section class="portfolio-block call-to-action border-bottom" style="height:52px;width:991px;padding:1px;">
            <div class="container">
                <p style="height:65px;font-size:30px;padding:2px;margin:0px 0px 30px 45px;">&nbsp;WELCOME TO FOOD FINDER</p>
            </div>
        </section>
    </main>
    <section class="portfolio-block website gradient" style="padding:29px;">
        <div class="container" style="height:244px;">
            <div class="row">
                <div class="col-md-12 col-lg-5" style="height:188px;">
                  <img style="height:250px;" src="{% static 'foodapp/img/naked-crepe.jpg' %}">
                </div>
                <div class="col-lg-7" style="height:36px;">
                    <h3>Weekly Recommendation:</h3>
                    <h4>The Naked Crepe Bistro</h4>
                    <br  />
                    <a href="/weekly-recommendation" style="color: white;">Read about this weeks Weekly Recommendation!</a>
                </div>
            </div>
        </div>
    </section>
    <section class="portfolio-block website gradient" style="padding:29px;background-image:url(&quot;none&quot;);">
        <div class="container">
            <section class="portfolio-block skills" style="padding:73px;">
                <div class="container">
                    <div class="heading">
                        <h2><a class="btn btn-outline-primary active btn-block btn-lg" role="button" style="color:white;" href="/restaurants/cafe"><span style="text-decoration: underline;">CAFE'S</span></a></h2>
                    </div>
                    <div class="row">

                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/just-us">
                                <div class="card-header bg-transparent border-0">

                                    <img class="rounded-circle" src="{% static 'foodapp/img/1470250937442.jpg' %}" width="50px" height="50px" style="width:163px;height:163.734px;">
                                </div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">JUST US</h3>
                                    <p class="card-text">Price Range: $2 - $16&nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 8/10&nbsp;</p>
                                </div>
                              </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/tan-coffee/">
                                <div class="card-header bg-transparent border-0">

                                    <img class="rounded-circle" src="{% static 'foodapp/img/tan_logo.jpg' %}" width="50px" height="50px" style="width:163px;height:163.734px;">
                                </div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">TAN COFFEE</h3>
                                    <p class="card-text">Price Range: $5 - $20&nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 8/10&nbsp;</p>
                                </div>
                              </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/subway-cafe/">
                                <div class="card-header bg-transparent border-0">
                                    <img class="rounded-circle" src="{% static 'foodapp/img/subway_cafe_logo.jpg' %}" style="width:163px;height:163.734px;">
                                </div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">SUBWAY CAFE</h3>
                                    <p class="card-text">Price Range: $8 - $20&nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 7/10</p>
                                </div>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="portfolio-block website gradient">
        <div class="container">
            <section class="portfolio-block skills" style="padding:73px;background-image:url(&quot;linear-gradient(120deg,#7f70f5,#0ea0ff);color:#fff;">
                <div class="container">
                    <div class="heading">
                        <a class="btn btn-outline-primary active btn-block btn-lg" style="color:rgb(14,160,255);background-color:white;" href="/restaurants/pizza">PIZZA</a>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/pronto-pizza/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/pronto.png' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body"">
                                    <h3 class="text-primary card-title">PRONTO PIZZA</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 6/10</p>
                                </div>
                              </a>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/la-torta/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/la_torta.jpg' %}" style="width:163px;height:163.734px;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">LA TORTA</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;<br></p>
                                    <p class="card-text">FoodFinder Rating: 8/10</p>
                                </div>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <section class="portfolio-block website gradient" style="padding:29px;background-image:url(&quot;none&quot;);">
        <div class="container">
            <section class="portfolio-block skills" style="padding:73px;">
                <div class="container">
                    <div class="heading">
                        <h2><a class="btn btn-outline-primary active btn-block btn-lg" style="color:white;" href="/restaurants/pub">PUBS</a></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/paddys-brewpub/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/paddys.png' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">PADDYS BREWPUB</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;<br></p>
                                    <p class="card-text">FoodFinder Rating: 8/10</p>
                                </div>
                              </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/the-library-pub-wine-tavern/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/libpub.png' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">THE LIBRARY PUB WINE TAVERN</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 9/10</p>
                                </div>
                              </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/3/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/joes.jpg' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">JOES FOOD EMPORIUM</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 6/10<br></p>
                                </div>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="portfolio-block website gradient">
                <div class="container">
                    <section class="portfolio-block skills" style="padding:73px;background-image:url(&quot;linear-gradient(120deg,#7f70f5,#0ea0ff);color:#fff;">
                        <div class="container">
                            <div class="heading">
                                <a class="btn btn-outline-primary active btn-block btn-lg" style="color:rgb(14,160,255);background-color:white;" href="/restaurants/bistro">BISTRO'S</a>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="card special-skill-item border-0">
                                      <a href="/restaurant/naked-crepe/">
                                        <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/naked_crepe_final.jpg' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                        <div class="card-body"">
                                            <h3 class="text-primary card-title">NAKED CREPE</h3>
                                            <p class="card-text">Price Range: $11 - $30 &nbsp; &nbsp;</p>
                                            <p class="card-text">FoodFinder Rating: 9/10</p>
                                        </div>
                                      </a>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="card special-skill-item border-0">
                                      <a href="/restaurant/la-torta/">
                                        <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/la_torta.jpg' %}" style="width:163px;height:163.734px;"></div>
                                        <div class="card-body">
                                            <h3 class="text-primary card-title">LA TORTA</h3>
                                            <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;<br></p>
                                            <p class="card-text">FoodFinder Rating: 8/10</p>
                                        </div>
                                      </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </section>
            <section class="portfolio-block skills" style="padding:73px;">
                <div class="container">
                    <div class="heading">
                        <h2><a class="btn btn-outline-primary active btn-block btn-lg" style="color:white;" href="/restaurants/global">GLOBAL CUISINE</a></h2>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/troys/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/troys-logo.png' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">TROY'S</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;<br></p>
                                    <p class="card-text">FoodFinder Rating: 8/10</p>
                                </div>
                              </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/lis-wok-and-grill/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/lis-wok-and-grill.jpg' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">LI'S WOK AND GRILL</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 9/10</p>
                                </div>
                              </a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card special-skill-item border-0">
                              <a href="/restaurant/double-dragon/">
                                <div class="card-header bg-transparent border-0"><img class="rounded-circle" src="{% static 'foodapp/img/double-dragon-logo.png' %}" style="width:163px;height:163.734px;background-color:none;"></div>
                                <div class="card-body">
                                    <h3 class="text-primary card-title">DOUBLE DRAGON</h3>
                                    <p class="card-text">Price Range: $5 - $30 &nbsp; &nbsp;</p>
                                    <p class="card-text">FoodFinder Rating: 6/10<br></p>
                                </div>
                              </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
        </div>
    </footer>
    <script src="{% static 'foodapp/js/jquery.min.js' %}"></script>
    <script src="{% static 'foodapp/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="{% static 'foodapp/js/Simple-Slider.js' %}"></script>
    <script src="{% static 'foodapp/js/theme.js' %}"></script>
</body>
{% endblock %}
</html>
