{% extends "base.html" %}
{% load cms_tags %}
{% load staticfiles %}
<!DOCTYPE html>
<html>

{% block content %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="{% static 'foodapp/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="{% static 'foodapp/fonts/ionicons.min.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="{% static 'foodapp/css/Article-Dual-Column.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'foodapp/css/Map-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/css/Simple-Slider.css' %}">
    <link rel="stylesheet" href="{% static 'foodapp/css/Social-Icons.css' %}">
</head>

<style>
  .fa {
  display:inline-block;
  border-radius:60px;
  box-shadow:0px 0px 2px #888;
  padding:0.5em 0.6em;
  background-color:rgb(14,160,255);
  font-size:36px;
}
  </style>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background-color:rgb(161,248,232);">
        <div class="container"><a class="navbar-brand logo" href="/">FoodFinder</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
            </div>
        </div>
    </nav>
    <main class="page lanidng-page">
        <section class="portfolio-block block-intro" style="height:230px;padding:0px;">
            <div class="container" style="width:100%;height:264px;padding:6px;margin:0px;">
                <div class="row">
                    <div class="col-3">

                          <img src="{{restaurant.image.url}}" style="width:275px;"/>
                    </div>
                    <div class="col-6" style="text-align:left;padding-left:20px;width:42px;">
                            <p style="font-size: 30px;">{{restaurant.name}}</p>
                            <p style="font-size: 15px;height: 5px;"><i class="icon ion-ios-telephone" style="width:auto;"></i> {{restaurant.phone_number}}</p>
                            <p style="font-size: 15px;height: 5px;"><i class="icon ion-ios-location" style="width:auto;"></i> {{restaurant.address}}</p>
                            <p style="font-size: 15px;height: 5px;"><i class="icon ion-ios-star"></i> {{restaurant.rating}}/10</p>
                            <p style="font-size: 15px;height: 5px;">Price Range: ${{restaurant.lowest_price}}-${{restaurant.highest_price}}</p>
                    </div>
                    <div class="col-3" style="width:418px;padding:0px;height:242px;">
                        <div class="row" style="height:17px;">
                            <div class="col" style="height:25px;">
                                <p class="d-inline-block" style="font-size:20px;">Hours of Operation</p>
                            </div>
                        </div>
                        <br  />
                        <div class="row d-inline-block" style="height:24px;">
                            <div class="col" style="height:31px;">
                                <p style="font-size:20px;">MON {{restaurant.monday_hours}}</p>
                            </div>
                        </div>
                        <div class="row d-inline-block" style="height:24px;">
                            <div class="col">
                                <p style="font-size:20px;height:32px;">TUE {{restaurant.tuesday_hours}}</p>
                            </div>
                        </div>
                        <div class="row d-inline-block" style="height:24px;">
                            <div class="col">
                                <p style="width:261px;font-size:20px;">WED {{restaurant.wednesday_hours}}</p>
                            </div>
                        </div>
                        <div class="row d-inline-block" style="height:24px;font-size:16px;">
                            <div class="col">
                                <p style="width:261px;font-size:20px;">THU {{restaurant.thursday_hours}}</p>
                            </div>
                        </div>
                        <div class="row d-inline-block" style="height:20px;">
                            <div class="col">
                                <p style="width:261px;font-size:20px;">FRI {{restaurant.friday_hours}}</p>
                            </div>
                        </div>
                        <div class="row d-inline-block" style="height:20px;">
                            <div class="col">
                                <p style="width:261px;font-size:20px;">SAT {{restaurant.saturday_hours}}</p>
                            </div>
                        </div>
                        <div class="row d-inline-block" style="height:20px;">
                            <div class="col">
                                <p style="width:261px;font-size:20px;">SUN {{restaurant.sunday_hours}}</p>
                            </div>
                        </div>
                        {% if restaurant.menu_link %}
                        <div class="row" style="font-size:5px;margin-top:25px;">
                            <p style="width:152px;height:51px;padding:-4px;font-size:47px;margin:33px;"><i class="icon ion-ios-list" style="font-size:45px;"></i><a href="{{restaurant.menu_link}}" style="font-size:39px;">MENU</a></p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </section>
        <section class="portfolio-block call-to-action" style="padding:15px;">
            <div class="container">
                <div class="d-flex justify-content-center align-items-center content"></div>
            </div>
        </section>

    </main>
    <div class="social-icons" style="padding:12px;">
      {% if restaurant.twitter_link %}
      <a href="{{restaurant.twitter_link}}">
        <i class="icon ion-social-twitter"></i>
      </a>
      {% endif %}
      {% if restaurant.facebook_link %}
      <a href="{{restaurant.facebook_link}}">
        <i class="icon ion-social-facebook"></i>
      </a>
      {% endif %}
      {% if restaurant.instagram_link %}
      <a href="{{restaurant.instagram_link}}">
        <i class="icon ion-social-instagram"></i>
      </a>
      {% endif %}
    </div>
    <section class="portfolio-block website gradient">
        <div class="container" style="width:964px;">
            <div class="row" style="padding:26px;">
                <div class="col-6 center-block" style="padding:0px;margin:0px;width:473px;"><button class="btn btn-outline-primary active btn-block btn-lg center-block" type="button" style="margin:23px;padding:6px;height:56px;width:424px;background-color:white;color:rgb(14,160,255);">RESTAURANT FEATURES&nbsp;</button></div>
                <div
                    class="col-6 center-block"><button class="btn btn-outline-primary active btn-lg center-block" type="button" style="margin:23px;padding:6px;height:56px;width:424px;background-color:white;color:rgb(14,160,255);">LOCATION (FROM BAC)</button></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card" style="width:460px;">
                    <div class="card-body" style="width:457px;">
                        <div class="row">
                          {% if restaurant.student_discounts %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-social-usd"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">Student Discounts</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if restaurant.vegetarian_options %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-leaf"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">vegetarian Options</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if restaurant.free_wifi %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-wifi"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">Free Wifi</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                            {% if restaurant.delivery_services %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-android-car"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">Delivers</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if restaurant.vegan_options %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-ios-nutrition"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">Vegan Options</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                            {% if restaurant.serves_alcohol %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="icon ion-android-bar"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">Serves Alcohol</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="row">
                          {% if restaurant.gluten_free_options %}
                            <div class="col">
                                <div class="card special-skill-item border-0">
                                    <div class="card-header bg-transparent border-0"><i class="fa fa-ban"></i></div>
                                    <div class="card-body">
                                        <h3 class="text-primary card-title">Gluten Free</h3>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6" style="width:516px;"><iframe allowfullscreen="" frameborder="0" width="100%" height="100%" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBhgZrrMNcfxZO67SSW9avL-XZLuidVDnA&amp;origin=0+Highland+Ave%2C+Wolfville%2C+NS+B4P+2R6&amp;destination={{restaurant.name}}&amp;zoom=15"></iframe></div>
        </div>
        </div>
    </section>
    <footer class="page-footer">
        <div class="container">
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
    <script src="assets/js/theme.js"></script>
</body>
{% endblock %}
</html>
