<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="assets/css/Article-Dual-Column.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/css/swiper.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Map-Clean.css">
    <link rel="stylesheet" href="assets/css/Simple-Slider.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
</head>

<body>
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top portfolio-navbar gradient" style="background-color:rgb(161,248,232);">
        <div class="container"><a class="navbar-brand logo" href="#">FoodFinder</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navbarNav">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"><a class="nav-link" href="index.html">Home</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link active" href="weekly_recc.html">Weekly Reccomendation</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="about_us.html">About Us</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="restaurant-temp.html">Restaurant Temp</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page projects-page"></main>
    <div class="article-dual-column">
        <div class="container">
            <div class="row">
                <div class="col-md-10 offset-md-1">
                    <div class="intro">
                        <h1 class="text-center">The Royal With Cheese</h1>
                        <p class="text-center"><span class="by">by</span> <a href="#">Cornelius Smith</a><span class="date">october 30,2018</span></p><img class="img-fluid" src="assets/img/royal_with_cheese.png"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-lg-3 offset-md-1">
                    <div class="toc">
                        <p>Shoutouts for the week</p>
                        <ul>
                            <li>Emmily Chapman</li>
                            <li>Ron Swanson</li>
                            <li>Chad Boudreu</li>
                            <li>Raymond Smith</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-lg-7 offset-md-1 offset-lg-0">
                    <div class="text">
                        <p>Hello to all my readers this week!&nbsp;</p>
                        <p>I know you all have patiently waited my spooktacular halloween themed weekly reccomendation for what to eat in wolfville. I know I know so was I, but I've listened to my roomate drone on and on about the royal with cheese at The
                            Naked Crepe for weeks on end. Thus I finally caved and gave the royal with cheese a fair shot and man oh man what a crepe. What a crepe indeed! &nbsp;That ooey gooey cheese and beef blend make you think you're the hamburglar
                            himself. The royal with cheese is what a big mac and a whopper would be if they were cooked with love and weren't prone to giving you an upset tummy. Now I know what you're thinking with such a grandious name like the royal
                            with cheese thats surely out of my budget, but heres the thing a regular costs only $8.75! This crepe has it ll going on and thats why it even beat out those spoopy halloween themed donuts at Tims for my reccomendation this
                            week.</p>
                        <h2>Where To Buy This Weeks Reccomendation</h2>
                        <figure class="figure" style="width:540px;"><iframe allowfullscreen="" frameborder="0" width="100%" height="400" src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBhgZrrMNcfxZO67SSW9avL-XZLuidVDnA&amp;origin=0+Highland+Ave%2C+Wolfville%2C+NS+B4P+2R6&amp;destination=402+Main+St%2C+Wolfville%2C+NS+B4P+1C9&amp;zoom=15"></iframe>
                            <figcaption
                                class="figure-caption">Will I keep this updated??? Who Knows!</figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="page-footer">
        <div class="container">
            <div class="links"><a href="#">About me</a><a href="#">Contact me</a><a href="#">Projects</a></div>
            <div class="social-icons"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-instagram-outline"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a></div>
        </div>
    </footer>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/3.3.1/js/swiper.jquery.min.js"></script>
    <script src="assets/js/Simple-Slider.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>